html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 1px;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

:root {
  --background-color: rgb(13, 17, 28);
  --background-color-light: rgb(41, 50, 73);
  --default-text-color: rgb(255, 255, 255);
  --default-border-color: rgb(27, 34, 54);
  --description-text-color: #808080;
}

.main {
  width: 100%;
  height: 100vh;

  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.swap-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 530px;
  width: 100%;
  border: 1px solid var(--default-border-color);
  color: var(--default-text-color);
  border-radius: 16px;
  padding: 8px;
  position: relative;
  background: var(--background-color);
  z-index: 1;
}

.swap-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.settings-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.swap-contents {
  position: relative;
  width: 100%;
}

.swap-input-wrapper {
  border-radius: 12px;
  padding: 16px;
  background-color: rgb(19, 26, 42);
}

.swap-input-footer {
  padding: 2px;
  color: var(--description-text-color);
}

.swap-input-main {
  display: flex;
}

.swap-arrow {
  border-radius: 12px;
  height: 40px;
  width: 40px;
  position: relative;
  margin: -18px auto;
  background-color: var(--background-color-light);
  border: 4px solid var(--background-color);
  z-index: 2;
}

.swap-arrow-icon {
  height: 100%;
  width: 100%;
}

.swap-input {
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 36px;
  line-height: 44px;
  color: var(--default-text-color);
  background: transparent;
}

.modal-btn {
  align-items: center;
  background-color: var(--background-color-light);
  opacity: 1;
  box-shadow: none;
  color: var(--default-text-color);
  cursor: pointer;
  height: unset;
  border-radius: 16px;
  outline: none;
  user-select: none;
  display: flex;
  border: none;
  font-size: 20px;
  font-weight: 400;
  width: initial;
  padding: 4px 10px;
  gap: 8px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-left: 12px;
  visibility: visible;
}

.swap-footer {
  width: 100%;
}

.swap-button {
  cursor: pointer;
  border-radius: 12px;
  padding: 16px;
  margin: 10px 0 0 0;
  /* background-color: rgb(19, 26, 42); */
  width: 100%;
  background-color: rgba(76, 130, 251, 0.24);
  color: rgb(76, 130, 251);
  font-size: 20px;
  font-weight: 600;
}

.swap-button:disabled {
  cursor: default;
  color: gray;
  border-radius: 12px;
  padding: 16px;
  background-color: rgb(19, 26, 42);
}

.modals-overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 40;
  background-color: transparent;
  opacity: 0.3;
}

.modals-layout {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: -100px;
  right: 0px;
  left: 0px;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modals-background {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  min-height: 400px;
  position: relative;
  border-radius: 12px;
  background-color: rgb(19, 26, 42);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.modals-close-button {
  position: absolute;
  top: 14px;
  right: 12px;
  margin: 0.5rem;
  background-color: transparent;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.modals-close-icon {
  top: 40px;
  right: 40px;
  color: #fff;
}

.modals-content-layout {
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
  width: 100%;
  height: 100%;
  color: #fff;
}

.token-search-input {
  background: transparent;
  width: 100%;
  padding: 16px;
  display: flex;
  color: #fff;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--default-border-color);
}

.token-search-input:focus {
  background: var(--default-border-color);
}

.messageTitle {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.messageContext {
  padding: 15px 0;
  color: #fff;
  white-space: normal;
  min-height: 30px;
}

.token-list-wrapper {
  border: 1px solid var(--default-border-color);
  max-height: 240px;
  overflow-y: auto;
}

.token-list-wrapper > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  text-align: left;
  color: var(--default-text-color);
  background: transparent;
}

.token-list-wrapper > button:hover {
  cursor: pointer;
  background-color: rgb(31, 43, 72);
}

.token-list-wrapper > button:disabled {
  cursor: default;
  background-color: rgb(10, 17, 35);
}

.empty-token-list {
  margin: 16px;
  color: var(--description-text-color);
}

.token-tags {
  position: relative;
  min-height: 48px;
  width: 98%;
  white-space: normal;
  display: inline-block;
  padding: 10px 0 10px 5px;
  font-size: 14px;
}

.token-tag {
  border-radius: 30px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 7px 14px 4px 14px;
  font-size: 18px;
  font-size: 18px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #5b7362;
}
button > * > .token-name {
  font-size: 20px;
  font-weight: 700;
}

button > * > .token-id {
  font-size: 15px;
  font-weight: 400;
  color: var(--description-text-color);
}

.swap-result-wrapper {
  width: 100%;
  margin-top: 4px;
}

.swap-result-icon {
  padding-right: 4px;
}

.swap-result {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 16px;
  background-color: rgb(19, 26, 42);
}

.dollar-text {
  color: #646464;
  padding-left: 4px;
}
.modal-footer {
  margin: auto 16px 16px 16px;
  height: 100%;
}

.token-list-setting {
  background: rgb(44, 57, 87);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--default-border-color);
  margin: auto 0 0 0;
}
